td{
    vertical-align: middle;
}
body{
    padding: 0px;
}
.dropdown a{
    height: 50px;
    padding: 15px 5px;
    font-size: 15px;
    line-height: 20px;
    float: right;
}
.thesearch form input{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}
.thesearch .form-control{
    width: 40%;
    margin-left: 25%;
    margin-right: 10px;
    float: left;
}
.thesearch{
    margin-bottom: 30px;
}
.color-white{
    color: #fff;
}
.search-type{
    margin: 30px 0;
    text-align: center;
}
.search-type ul{
    display: inline-block;
    float: none;
}
.nav-tabs > li > a{
    color: #ffffff;
}
.buttom-infomation{
    color: #ffffff;
    text-align: center;
    margin: 50px 0;
}
.tw-page-tag-white{
    color:#FFFFFF;
}
.alert-danger{
    width: 200px;
    text-align: center;
    margin: 0 auto;
}
.astronomyType{
    border: 0;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.torgba{
    background: rgba(0,0,0,0.2);
}
.pageactive{
    background: rgba(255,255,255,0.5);
}